@mixin main-hover {
  transition: 0.3s;
  &:hover {
    color: $primary-color;
  }
}

// Responsive
@mixin tablet {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 425px) {
    @content;
  }
}

// Placeholder selectors
%title-text-shadow {
  text-shadow: 3px 2px $black;
}

%section-title {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
}

%center-bg {
  background-size: cover;
  background-position: center;
}

%card-hover {
  .job-card-cover {
    opacity: 0;
  }

  &:hover {
    .job-card-cover {
      opacity: 1;
    }
  }
}

// Buttons
.btn {
  padding: 0.6rem 1rem;
  border: 1px solid $light-color;
  text-transform: uppercase;
  border-radius: 4px;
  transition: 0.3s;
  color: $light-color;

  &:hover {
    border-color: $primary-color;
    color: $primary-color;
  }

  &-primary {
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
      background: transparent;
    }
  }

  &-rounded {
    margin-top: 1rem;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
  }
}
