@import "./reset.scss";
@import "./variables.scss";
@import "./utilities.scss";

* {
  font-family: "Lato", sans-serif;
  grid-template-columns: 1fr tamanhodoresumo;
}

#main-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/office.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;

  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $black;
    z-index: 10;

    .brand {
      color: $light-color;
      font-size: 2rem;
      @include main-hover;
    }

    &-navbar {
      display: flex;
      align-items: center;
      li {
        margin: 5px 10px;
        a {
          color: $light-color;
          @include main-hover;
        }
      }
    }
    .fas.fa-bars {
      font-size: 2rem;
      color: $light-color;
      display: none;
    }

    @include tablet {
      .fas.fa-bars {
        display: block;
      }
      .nav-container-navbar {
        display: none;
      }
    }
  }
  .title-container {
    color: $light-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    h1 {
      font-size: 4rem;
      @extend %title-text-shadow;
    }
    h2 {
      font-size: 3rem;
      margin-top: 1rem;
      @extend %title-text-shadow;
    }
  }
}

.services-container {
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;

  .btn-services-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2 {
    @extend %section-title;
  }

  .services-card-container {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;

    &-item {
      margin: 1%;
      padding: 2rem;
      border: 1px solid #ccc;
      transition: 0.3s;

      i {
        color: $primary-color;
        font-size: 4rem;
        display: block;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
      }

      h3 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
      }

      p {
        max-width: 58ch;
      }

      &:hover {
        border: 1px solid $primary-color;
      }
    }
  }
}

.jobs-container {
  background-color: $secondary-bg;
  padding: 2rem;
  h2 {
    @extend %section-title;
  }

  &-list {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5%;
    padding: 2rem 0;
    @include tablet {
      grid-template-columns: 1fr;
    }

    .job-card-cover {
      width: 100%;
      height: 100%;
      padding-top: 1.75rem;
      background-color: rgba(0, 0, 0, 0.6);
      border: 3px solid $primary-color;
    }

    .job-card-title {
      text-align: center;
      color: $light-color;
      font-size: 2.2rem;
      transition: 0.5s;
    }

    .job-card-description {
      text-align: center;
      color: $light-color;
      padding: 1rem;
      font-size: 0.9rem;
    }
  }

  .first-job {
    margin: 0 1%;
    width: 100%;
    height: 415px;
    background-image: url("../img/job1.jpg");
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    @extend %center-bg;
    @extend %card-hover;
    @include tablet {
      margin: 0;
      height: 200px;
    }
  }

  .other-jobs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include tablet {
      grid-template-columns: 1fr;
    }

    .job-card {
      height: 200px;
      position: relative;
      cursor: pointer;
      margin-bottom: 15px;
      margin-right: 15px;
      @extend %center-bg;
      @extend %card-hover;
      @include tablet {
        width: 100%;
      }
    }

    #job2 {
      background-image: url("../img/job2.jpg");
    }
    #job3 {
      background-image: url("../img/job3.jpg");
    }
    #job4 {
      background-image: url("../img/job4.jpg");
    }
    #job5 {
      background-image: url("../img/job5.jpg");
    }
  }
}

footer {
  background-color: $footer-bg;
  color: $text-color;
  padding: 5rem 2rem;

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    @include tablet {
      grid-template-columns: 1fr;
    }

    &-desc {
      max-width: 68ch;
    }

    .footer-title {
      color: $light-color;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .footer-links-container {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;

      &-list {
        li {
          margin-bottom: 0.5rem;
        }
        a {
          color: $text-color;
          transition: 0.5s;

          &:hover {
            color: $light-color;
          }
        }
      }
    }
    .footer-copy-right-container p:first-child {
      margin-bottom: 0.5rem;
    }
  }
}
